page-home {

   ion-thumbnail ion-img, ion-thumbnail img{
    &.flagImage{
      height:40px;
    }
  }

  ion-label.label h2{
    color:rgb(136,136,136);
    font-weight: 500;
  }
  .button-clear-ios{
    color:rgb(136,136,136);
  }
  .item-button.button-clear{
    font-size:1.7rem;
    font-weight: 500;
  }
  .list > .item-block{
    border-bottom: 0.55px solid #c8c7cc;
  }
  .item.item-block .item-inner{
    border-bottom: none;
  }

  .header{
    width: 100%;
    margin: 0 auto;
    color: #fff;

  }

  .headerWrapper{
    text-align: center;
  }

  .headerImage{
    width:50%;
    float:left;
    text-align: right;

    img{
      padding: 10px;
      background-color: white;
      height: 53px;
      width: auto;

    }
  }
  .headerText{
    width:50%;
    float:left;
    text-align: left;
    line-height: 3.3rem;

    div{
      font-size: 20px;
      background: white;
      color: black;
      height: 5.3rem;
      padding: 10px;
      width: 70px;
    }
  }
}
